scrapbook/src/main/resources/wsdl/approve.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://apachecon.com/memories/approve"
    targetNamespace="http://apachecon.com/memories/approve"
    name="Approve">

    <wsdl:types>
        <xsd:schema targetNamespace="http://apachecon.com/memories/approve">
            <xsd:element name="approveRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fileName" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="declineRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="fileName" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="result" type="xsd:boolean" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="approveRequest">
        <wsdl:part name="message" element="tns:approveRequest" />
    </wsdl:message>
    <wsdl:message name="declineRequest">
        <wsdl:part name="message" element="tns:declineRequest" />
    </wsdl:message>
    <wsdl:message name="response">
        <wsdl:part name="message" element="tns:response" />
    </wsdl:message>

    <wsdl:portType name="ApproveService">
        <wsdl:operation name="approve">
            <wsdl:input message="tns:approveRequest" />
            <wsdl:output message="tns:response" />
        </wsdl:operation>
        <wsdl:operation name="decline">
            <wsdl:input message="tns:declineRequest" />
            <wsdl:output message="tns:response" />
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ApproveServiceSOAP" type="tns:ApproveService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="approve">
            <soap:operation soapAction="http://apachecon.com/memories/approve/approve" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="decline">
            <soap:operation soapAction="http://apachecon.com/memories/approve/decline" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="ApproveService">
        <wsdl:port binding="tns:ApproveServiceSOAP" name="approve">
            <soap:address location="http://127.0.0.1/approve" />
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
